<div class="container">
  <div class="row">
    <%= render 'book', user: @user, book: @newbook %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr><%= image_tag @user.get_profile_image(100,100) %></tr>
          <td>
            <%= link_to books_path(@book.id) do %>
              <%= @book.title %>
            <% end %>
          </td>
          <td><%= @book.body %></td>
          <td>
            <% if @book.user == current_user %>
              <%= link_to "Edit", edit_book_path(@book.id) %>
            <% end %>
          </td>
          <td>
            <% if @book.user == current_user %>
              <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "Are you sure?" %>
            <% end %>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
