<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <head>
    <title>Bookers2</title>
    <script src="https://kit.fontawesome.com/63b51cb2a3.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expend-lg navbar-dark bg-dark">
        <div class="contair">
          <a class="navbar-brand" href="/">
            <span>Bookers</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li>
                  <a class:="nav-link text-light">
                    <%= link_to "Log out", destroy_user_session_path, method: :delete  %>
                  </a>
                </li>
              <% else %>
                <li>
                  <a class:="nav-link text-light">
                    <i class="fa-solid fa-link"></i>
                    <%= link_to "About", about_path %>
                </li>
                <li>
                  <a class:="nav-link text-light">
                    <i class="fa-solid fa-user-plus"></i>
                    <%= link_to "Sign up", new_user_registration_path %>
                  </a>
                </li>
                <li>
                  <a class:="nav-link text-light">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <%= link_to "Log in", new_user_session_path %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <main>
      <p id="notice"></p>
      <%= yield %>
    </main>
    
    <footer>
      <div class="contair mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
